numpy==2.1.3
pandas==2.2.3
plotly==5.24.1
jupyterlab==4.3.1
seaborn==0.13.2
statsmodels==0.14.4
lxml==5.3.0
beautifulsoup4==4.12.3
bibtexparser==2.0.0b7
pybtex==0.24.0
networkx==3.3
pybtexris==0.1.2
pylatexenc==3.0a30
pybtexnbib==0.1.2
PyMuPDF==1.25.0
PyPaperBot==1.4.1
undetected-chromedriver==3.5.5
